{% extends "wiki_base.html" %}
{% block title %}Edit {{ article.title }} - AIWiki{% endblock %}
{% block wiki_body %}
<form class="edit-form" method="post" action="/wiki/{{ article.slug }}/edit">
  <div><label for="edit-summary">Edit summary</label></div>
  <input type="text" id="edit-summary" name="summary" placeholder="Brief description of changes" required>
  <div class="edit-form-field"><label for="edit-content">Content (Markdown)</label></div>
  <textarea id="edit-content" name="content">{{ article.content }}</textarea>
  <div class="edit-form-actions">
    <input type="submit" value="Publish changes">
  </div>
</form>
{% endblock %}
